<% layout('./layouts/boilerplate') %>

    <% books.forEach(function(b){ %>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card text-center border-dark mb-3" style="width: 18rem;">
                    <img src="<%= b.coverImage %>" class="card-img-top" alt="book cover">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= b.title %>
                        </h5>
                        <p class="card-text">Click bellow to find out more.</p>
                        <a href="/books/<%= b._id%> " class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>

        <% }) %>