<% layout('./layouts/boilerplate') %>

    <div class="row">
        <h2 class="text-center">Add a New Book</h2>
        <div class="col-6 offset-3">
            <form action="/books" method="POST">
                <div class="mb-3">
                    <label>Title:</label>
                    <input class="form-control" type="text" id="title" name="title">
                </div>
                <div class="mb-3">
                    <label>Book Image URL:</label>
                    <input class="form-control" type="text" id="image" name="coverImage" autocomplete="off">

                </div>
                <div class="mb-3">
                    <label>Author:
                        <input class="form-control" id="author" type="text" name="author" autocomplete="off">
                    </label>
                    <label class="form-label">Published Date:
                        <input class="form-control" id="publishedDate" type="date" name="publishedDate">
                    </label>
                    <label>Genre:
                        <select class="form-select" id="genre" name="genre">
                            <option value="Fiction">Fiction</option>
                            <option value="Novel">Novel</option>
                            <option value="Science fiction">Science fiction</option>
                            <option value="Non-fiction">Non-fiction</option>
                            <option value="Poetry">Poetry</option>
                            <option value="Memoir">Memoir</option>
                            <option value="Self Help">Self Help</option>
                            <option value="History">History</option>
                            <option value="Autobiography">Autobiography</option>
                            <option value="Drama">Drama</option>
                            <option value="CookBook">CookBook</option>
                            <option value="Personal Development">Personal Development</option>
                            <option value="Humor">Humor</option>
                            <option value="Children Literature">Children Literature</option>
                            <option value="Romance">Romance</option>
                            <option value="Mythology">Mythology</option>
                            <option value="Mystery">Mystery</option>
                            <option value="Politics">Politics</option>
                            <option value="Psychology">Psychology</option>
                        </select>
                    </label>
                </div>
                <div class="mb-3">
                    <label class="form-label">Overview:</label>
                    <textarea class="form-control" id="overview" type="text" name="overview"></textarea>

                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </form>
        </div>


    </div>